
/* Estilo para todos los elementos  */
* { 
  text-align: center;
  margin: 0%;
  border: 0%;
  padding: 0%;
}
body {
  font-family: "Helvetica", sans-serif;
  color: #1E427A;
  font-size: 14 px;
}
.seccion {
  width: 100%;
  height: 20%;
  margin: auto;
}
.logo{
  height: 15%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #85C1E9;
  line-height: 40px;
  text-align: center;
}

li
  {
  width: 150px;
  display: inline-block;
  text-align: center;
  }

a
{
  text-decoration: none;
  color: #fff;
  display: block;
}

a:hover {
  background: #82E0AA;
  color:#1E427A;
}


*  NAVEGADOR  */
.boton {
  background-color: #85C1E9;
  height: 40px;
}
.boton a {
  display: inline-block; 
  width: 24%; 
  height: 40px;
  text-decoration: none;
  background-color: #85C1E9;
  color: #fff;
  font-weight: bold;
}
.boton a:hover {
  background-color: #d4fde6;
  color:#356ABD;
}  
/* fin del navegador */
/* SECTION 1, lista de pokemones Y CAJAS CONTENEDORAS DE LOS POKEMONES */
#seccion-lista {
  background-color: #d4fde6; 
}
.caja-lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  height: 350px;
  overflow: auto;
  justify-content: center;
  padding: 1%;
  margin: auto;
}
.caja-item {
  margin: 10px;
  color: #1650B4;
  background-color: #f3f9fb;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 7px 1px #1C6EA4;
}
#caja-item-big {
  width: 30%;
  height: 50%;
  margin: auto;
  box-shadow: 2px 2px 7px 1px #1C6EA4;
}
.caja-item:hover{
  box-shadow: 2px 2px 7px 1px #FFA000;
}
/* estilo para el select */
.select {
  border-style: none;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  background-color: #d4fde6;
  margin-bottom: 15px;
}

/* INPUT TEXT */
.caja-texto {
  background-color: #d4fde6;
  width: 16%;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin: 15px;
}

/* BOTONES */
.button {          
  width: 4%;
  height: 40px;
  border-radius: 5px;
  background-color: #1E427A;
  border: none;
  color: #f3f9fb;
  font-size: 14px;
}
/* .button-type {          
  width: 125px;
  border-radius: 5px;
  background-color: #1E427A;
  border: none;
  color: #f3f9fb;
  height: 40px;
  font-size: 16px;
} */
/* .button-type:focus, .button-type:hover */
.button:hover, .button:focus
{
  background-color: #FFA000;
  color: #1E427A;
  font-weight: bold;
}

/* footer {
  height: 60px;
} */