
body
{
  border: 1px white solid;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
  font-family: sans-serif;
}

h1, h2
{
  text-align: center;
}

nav
{
}

ul
{
list-style: none;
padding: 0;
margin: 0;
background: #85C1E9;
line-height: 40px;
text-align: center;
}

li
  {
  width: 150px;
  display: inline-block;
  text-align: center;
  }

a
{
  text-decoration: none;
  color: #fff;
  display: block;
}

a:hover {
  background: #82E0AA;
  color:#E74C3C;
}



.cuerpo{
    max-width: 1000px;
    margin:auto;

     }

.cabecera{
  background-color: #D6EAF8;
   margin-top:2px;
   height: 400px;
     }

#Logo{
     display:block;
     margin:auto;
}


.superior{
    background: white;
    margin-top: 0px;
    height: 155px;
    text-align: center;
     }


#caja
{
text-align: center;
background-image: url(https://fotos.subefotos.com/225ae972ac9b4dd22652cc5e2661bb33o.png);
margin: 1rem;
padding: 1rem;
height: 455px;
}


#lista-nombres

{
  justify-content: center;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  overflow: auto;
  background: ##E7F9FF;
    width: 50%;
    height: 350px;
}


#busqueda

  {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  height: 455px;
}

.box
{
  align-content: center;

}
#lista-nombres
{
  align-content: center;

}

/*CODIGO DE CSS ZELYNA*/

.titulo { font-weight: bold; }

.caja-lista {
  background-color: #f3f9fb;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  height: 500px;
  overflow: auto;
  justify-content: center;
  padding: 1%
}

.caja-item {
  margin: 10px;
  color: #1650B4;
  background-color: #f3f9fb;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 7px 1px #1C6EA4;
}

.caja-item:hover{
  box-shadow: 2px 2px 7px 1px #FF6B25;
}

.poke-img{
  padding: 0%;
  text-align: center;
  margin: 1%
  /* width: 25%;
  height: 25%;   */
}

.poke-num{
  margin: 1%;
}
.poke-name{
  margin: 5%;
}
